### Instruction: You will find 10 Questions based on our scraped and cleaned dataset. To answer the questions, we can use the Pandas Library, PostgreSQL or the vizualization libraries.

### First: Imports, Output Dataset in Notebook & PostgreSQL

#### Prerequisite 1 : Imports

In [5]:
import pandas as pd
from sqlalchemy import create_engine
import matplotlib.pyplot as plt

#### Prerequisite 2 : Output data in notebook

In [6]:
real_estate_df = pd.read_excel('cleaned_data.xlsx')
real_estate_df

,Address,Bedrooms,Bathrooms,Area(Sqft),Year Built,Parking,Price($),Location,price/sqft
0,9400 La Playa St NE,4,3,2000,1975,yes,330000,Albuquerque,165.00
1,460 Wesley Ct SW,4,3,2212,2003,yes,289900,Albuquerque,131.06
2,1307 Bernardino Rd NW,2,1,815,1948,no,155000,Albuquerque,190.18
3,5215 Cimarron Rd NW,3,2,1600,1977,yes,269900,Albuquerque,168.69
4,2804 Charleston St NE,4,3,2445,1963,yes,450000,Albuquerque,184.05
...,...,...,...,...,...,...,...,...,...
6240,2232 Mount View Pl SE,3,4,1200,1933,yes,829900,Washington,691.58
6241,1111 25th St NW #304,2,1,835,2005,yes,549900,Washington,658.56
6242,922 24th St NW #5B,1,1,743,1962,yes,319500,Washington,430.01
6243,1099 22nd St NW #401,3,3,2078,1985,yes,1375000,Washington,661.69
6244,2125 14th St NW #309,1,1,538,2007,no,387000,Washington,719.33

In [7]:
real_estate_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6245 entries, 0 to 6244
Data columns (total 9 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Address     6245 non-null   object
 1   Bedrooms    6245 non-null   int64
 2   Bathrooms   6245 non-null   int64
 3   Area(Sqft)  6245 non-null   int64
 4   Year Built  6245 non-null   int64
 5   Parking     6245 non-null   object
 6   Price($)    6245 non-null   int64
 7   Location    6245 non-null   object
 8   price/sqft  6245 non-null   float64
dtypes: float64(1), int64(5), object(3)
memory usage: 439.2+ KB

#### Prerequisite 3 : Output data in PostgreSQL

In [10]:
# open pgAdmin
# set variable to make an engine (see import above)
# this is weird, include pword and port #
engine = create_engine('postgresql://postgres:Gamal@localhost:5432')
# now we store results in sql database
# real_estate will be the table name
real_estate_df.to_sql('real_estate', engine)
# Now go to pgAdmin, right-click on Tables, click Refresh.  Blammo!
# Open Query Tool (upper left SQL-esque icon)
# run SQL commands!  (e.g. select * from real_estate)

In [ ]:
# Issue: ModuleNotFoundError: No module named 'psycopg2'
# Recommendations to install via Windows (PowerShell): 
# pip install psycopg2-binary
# This worked!

In [ ]:
# From course as errors thrown due to naming columns with parens, but did not need to do:
# real_estate_df.rename(columns = {'Area(Sqft)':'Area in sqft'}, inplace = True)
# real_estate_df.rename(columns = {'Price($))':'Price in $'}, inplace = True)

### Question No.1 : How many results/rows do we have for each location?

#### Pandas

#### SQL

#### Matplotlib

### Question No.2 : What is the average / min / max price for all(!) observed locations?

#### Pandas

#### SQL

### Question No.3 : What is the mean price per sqft for each(!) location?

#### Pandas

#### SQL

#### Matplotlib

### Question No.4 : what is the highest price per sqft in San Francisco?

#### Pandas

#### SQL

### Question No.5 : what is the lowest price per sqft in Miami?

#### Pandas

#### SQL

### Question No.6 - What is the mean house price & mean price/sqft for each location?

### Question No.7 How many bedrooms & bathrooms does the house with the highest price in Las Vegas have?

#### Pandas

#### SQL

### Question No.8 Does the cheapest house in San Diego include a parking opportunity ?

#### Pandas

#### SQL

### Question No.9 Is there a correlation between Mean House Price and Mean Price per Sqft?

### Question No.10 : Is the price/sqft effected by the availability of a parking spot?