# Nutrition Analysis Tour
## Method: Relational database queries
## Language/tool: PostgreSQL
---

In [32]:
import pandas as pd
from sqlalchemy import create_engine
from nb_config import *

In [33]:
engine = create_engine(conn_string)

In [34]:
%load_ext sql

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [35]:
%sql $engine.url

In [44]:
# How many drinks are in each size?
%%sql
SELECT size_oz, count(*) FROM coffee_table
GROUP BY size_oz;

 * postgresql://postgres:***@localhost:5432
4 rows affected.

[(12, 61), (20, 57), (16, 67), (8, 34)]

---
#### Min and max calories, caffeine, fat, sugars for each drink category
##### Using the WHERE/join condition (=)

In [66]:
%%sql
SELECT 
cat_table.cat_id, 
cat_table.category, 
min(calories_perc_DV) AS "min_cal",
max(calories_perc_DV) AS "max_cal",
min(caffeine_perc_DV) AS "min_caff",
max(caffeine_perc_DV) AS "max_caff",
min(fat_perc_DV) AS "min_fat",
max(fat_perc_DV) AS "max_fat",
min(sugars_perc_DV) AS "min_sug",
max(sugars_perc_DV) AS "max_sug"
FROM cat_table, name_table, coffee_table
WHERE name_table.name_id = coffee_table.name_id AND name_table.cat_id = cat_table.cat_id
GROUP BY cat_table.cat_id;

 * postgresql://postgres:***@localhost:5432
9 rows affected.

[(1002, 'Frappuccino® Blended Coffee', 8.0, 23.0, 0.0, 36.0, 0.0, 13.0, 68.0, 168.0),
 (1003, 'Frappuccino® Blended Crème', 8.0, 18.0, 0.0, 0.0, 0.0, 8.0, 70.0, 138.0),
 (1004, 'Frappuccino® Light Blended Coffee', 4.0, 14.0, 16.0, 41.0, 0.0, 6.0, 38.0, 104.0),
 (1001, 'Coffee', 0.0, 0.0, 44.0, 102.0, 0.0, 0.0, 0.0, 0.0),
 (1000, 'Classic Espresso Drinks', 0.0, 17.0, 19.0, 75.0, 0.0, 14.0, 0.0, 90.0),
 (1007, 'Smoothies', 13.0, 15.0, 0.0, 4.0, 1.0, 6.0, 62.0, 82.0),
 (1006, 'Signature Espresso Drinks', 5.0, 26.0, 0.0, 38.0, 0.0, 19.0, 22.0, 166.0),
 (1008, 'Tazo® Tea Drinks', 4.0, 22.0, 0.0, 30.0, 0.0, 13.0, 26.0, 142.0),
 (1005, 'Shaken Iced Beverages', 3.0, 9.0, 22.0, 59.0, 0.0, 3.0, 30.0, 72.0)]

---
#### What are the top 5 drinks for a good caffeine hit?

In [72]:
%%sql
SELECT cat_table.category, name_table.name, coffee_table.size_oz, coffee_table.caffeine_perc_DV AS "caffeine_%dv"
FROM cat_table
INNER JOIN name_table ON cat_table.cat_id = name_table.cat_id
INNER JOIN coffee_table ON name_table.name_id = coffee_table.name_id
ORDER BY coffee_table.caffeine_perc_DV DESC
LIMIT 5;

 * postgresql://postgres:***@localhost:5432
5 rows affected.

[('Coffee', 'Brewed Coffee', 20, 102.0),
 ('Coffee', 'Brewed Coffee', 16, 82.0),
 ('Classic Espresso Drinks', 'Caffè Americano', 20, 75.0),
 ('Coffee', 'Brewed Coffee', 12, 65.0),
 ('Shaken Iced Beverages', 'Iced Brewed Coffee (With Classic Syrup)', 20, 59.0)]

---
#### What are the top 5 drinks for a good sugar hit?

In [74]:
%%sql
SELECT cat_table.category, name_table.name, coffee_table.size_oz, coffee_table.sugars_perc_DV AS "sugars_%dv"
FROM cat_table
INNER JOIN name_table ON cat_table.cat_id = name_table.cat_id
INNER JOIN coffee_table ON name_table.name_id = coffee_table.name_id
ORDER BY coffee_table.sugars_perc_DV DESC
LIMIT 5;

 * postgresql://postgres:***@localhost:5432
5 rows affected.

[('Frappuccino® Blended Coffee', 'Java Chip (Without Whipped Cream)', 20, 168.0),
 ('Frappuccino® Blended Coffee', 'Java Chip (Without Whipped Cream)', 20, 168.0),
 ('Signature Espresso Drinks', 'Caramel Apple Spice (Without Whipped Cream)', 20, 166.0),
 ('Frappuccino® Blended Coffee', 'Java Chip (Without Whipped Cream)', 20, 160.0),
 ('Frappuccino® Blended Coffee', 'Caramel (Without Whipped Cream)', 20, 154.0)]